/*#ChartAxisDataSetting{
    position: absolute;
    background: #fff;
    max-width: 50%;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#ChartAxisDataSetting .content{
    white-space: pre;
    overflow: auto;
}*/

.Component.HCharts{
    overflow: hidden;
}
.Component.HCharts .default{
    font-size: 120px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: left;
    color: #7d7d7d;
    /*border: 1px solid;*/
    background-color: #dbdbdb;
    opacity: 0.95;
}

.Component.HCharts .hchartDisplayArea{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

/* 共用樣式 */
.HCharts .propertyRow{
    margin: 5px;
}

.HCharts .propertyRow .propertyName{
    border-bottom: 1px solid #3e4248;
    color: #b8c987;
    margin-bottom: 10px;
}

.HCharts .propertyRow .propertyName .expand{
    margin: 0 5px 0 0;
    color: #99f499;
    cursor: pointer;
}

.HCharts .propertyRow.collapsed .propertyName .expand,
.HCharts .propertyRow .propertyName .expand:hover{
    color: #81aa06;
}
.HCharts .propertyRow.collapsed .propertyName{
    margin-bottom: 0;
}

.HCharts .propertyRow .propertyName{
    width: 100%;
} 

.HCharts .propertyRow .propertyVal{
    margin-bottom: 5px;
    max-height: 60px;
    height: 30px;
    transition: all 0.5s;
    opacity: 1;
    color: #757575;
    position: relative;
    float: left;
}

.HCharts .propertyRow .propertyVal.disabled{
    opacity: 0.25;
    display: none;
}

.HCharts .propertyRow.collapsed .propertyVal{
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.HCharts .propertyRow .subPropName{
    padding: 0;
    min-width: 85px;
    text-align: center;
    color: #929292;
    position: relative;
    float: left;
    align-self: center;
}

.HCharts .propertyRow.collapsed .subPropName{
    padding: 0 5px 0 5px;
    display: none;
}

.HCharts .propertyRow .subPropVal{
    flex: 1;
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
}

.HCharts .propertyRow.collapsed .subPropVal{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.HCharts .propertyRow select{
    border: 1px solid #4d4c4c;
    background-color: #363942;
    color: #d3d3d3;
    outline: none;
    height: 30px;
    width: 100%;
}

.HCharts .propertyRow .mask{
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: #363942;
    opacity: 0.9;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HCharts .propertyRow .mask .spinner{
    margin: 0;
}


/* 圖層來源 */
.property_row#LAYER_SOURCE .propertyRow.FETCH_DATA .fetchPayloadDesc{
    position: relative;
    float: left;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#85d485, #85d485);
    color: #272e38;
    border-radius: 2px;
    margin: 0 5px;
    display: flex;
    width: 100%;
    transition: background 0.3s;
    margin: 0 5px;
    cursor: pointer;
}

.property_row#LAYER_SOURCE .propertyRow.FETCH_DATA .fetchPayloadDesc:hover{
    background: linear-gradient(#85d485, #49a649);
    color: #272e38;
}

/* 資料呈現 */
.property_row#DATA_SELECTION{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_BKCOLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_BORDER_WIDTH .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_TITLE_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_SUBTITLE_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_X_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_Y_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_X_GRID_WIDTH .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_Y_GRID_WIDTH .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_X_TICK_WIDTH .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_Y_TICK_WIDTH .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_X_TITLE_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_Y_TITLE_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_LEGEND_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_X_TEXT_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_Y_TEXT_SIZE_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_LEGEND_HOVER_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_LEGEND_BORDER .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_LEGEND_BKCOLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_EXPORT_ICON_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_EXPORT_FILL_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_EXPORT_HOVER_COLOR .subPropVal,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_EXPORT_SELECT_COLOR .subPropVal
{
    overflow: visible;
}

.property_row#DATA_SELECTION .propertyRow .propertyVal input.chartColorInput,
.property_row#DATA_SELECTION .propertyRow .propertyVal.CHART_BKCOLOR input.chartBKColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.axisColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.gridlineColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.tickColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.legendColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.titleColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.subtitleColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.legendColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.legendHoverColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.legendBorderColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.legendBKColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.exportIconColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.exportFillColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.exportHoverColor,
.property_row#DATA_SELECTION .propertyRow .propertyVal input.exportSelectColor{
    padding-left: 30px;
    outline: none;
}

.property_row#DATA_SELECTION .propertyRow .propertyVal .minicolors.minicolors-theme-fontColor{
    top: 0;
}
.property_row#DATA_SELECTION .propertyRow.collapsed .subPropVal{
    display:none;
}

.property_row#DATA_SELECTION .propertyRow .subPropVal input{
    width: 100%;
    border: none;
    padding: 5px;
    background-color: transparent;
}


.property_row#DATA_SELECTION .propertyRow .subPropVal select{
    border: none;
    width: 100%;
    outline: none;
    background-color: #363942;
    color: #d3d3d3;
}

.property_row#DATA_SELECTION .propertyRow .subPropVal select[disabled]{
    color: #767676;
    background: transparent;
}

.property_row#DATA_SELECTION .sub_rows{
    position: relative;
    float: left;
    border: none;
    color: #d3d3d3;
}


.property_row#DATA_SELECTION .CHART_DATA .propertyVal{
    max-height: 350px;
    height: auto;
    white-space: pre;
    overflow: auto;
}

.property_row#DATA_SELECTION .CHART_DATA .highlight{
    border-radius: 5px;
    padding: 0px;
    /*background: #eaeaea;*/
    transition: background-color, padding 0.2s;
    cursor: pointer;
    line-height: 20px;
}

.property_row#DATA_SELECTION .CHART_DATA .highlight.selected{
    background-color: #b8b850;
    padding: 3px;
    color: #fff;
}

.property_row#DATA_SELECTION textarea{
    width: 100%;
    height: 45px;
    resize: none;
    font-size: 12px;
    outline: none;
    border: none;
    margin: 0;
    padding: 5px 5px 5px 10px;
    position: relative;
    float: left;
    border: 1px solid #4d4c4c;
    background-color: #363942;
    color: #d3d3d3;
}

/* 資料集資料 */
.property_row#DATA_SELECTION .filterRow{
    background-color: #3e4248;
    color: #aaa;
    display: flex;
}

.property_row#DATA_SELECTION .rowBtn{
    padding: 5px;
    /* margin: 3px; */
    /* border-radius: 3px; */
    text-align: center;
    cursor: pointer;
}

.property_row#DATA_SELECTION .rowBtn:hover{
    background-color: #767676;
    color: #fff;
}

.property_row#DATA_SELECTION .rangeValue{
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
}


.property_row#DATA_SELECTION .CHART_LEGEND .propertyVal.CHART_LEGEND_BORDER .borderWidth{
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    background: transparent;
}

.property_row#DATA_SELECTION .CHART_LEGEND .propertyVal.CHART_LEGEND_BORDER .minicolors.minicolors-theme-fontColor{
    width: 170px;
}

/* 快速設定樣式 */
.property_row#DATA_SELECTION .propertyRow.CHART_OVERALL_STYLE .propertyVal{
    flex-wrap: wrap;
    height: unset;
}
.property_row#DATA_SELECTION .propertyRow.CHART_OVERALL_STYLE .chartStyleBtn{
    padding: 3px;
    margin: 5px;
    text-align: center;
    flex-shrink: 0;
    position: relative;
    float: left;
    width: 90px;
    align-self: center;
}

.property_row#DATA_SELECTION .propertyRow.CHART_OVERALL_STYLE .chartStyleBtn:hover{
    background: #373c42;
    color: #fff;
}

.property_row#DATA_SELECTION .textHighlightBtn{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 3px;
    cursor: pointer;
}

.property_row#DATA_SELECTION .textHighlightBtn.current{
    color: #cdcdcd;
    background: #363942;
}

.property_row#DATA_SELECTION .textHighlightBtn:hover{
    color: #fff;
}