/* ComponentPropertiesSetting 元件屬性設定區塊 */

#JsonEditWindow {
    position: relative;
    float: left;
    width: 0;
    height: 100%;
    font-family: "微軟正黑體", verdana, Arial, sans-serif;
    z-index: 4;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s 0.15s;
    overflow: hidden;
}

#JsonEditWindow.opened {
    width: 100%;
    opacity: 1;
}

#JsonEditWindow .content{
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    padding: 15px;
    outline: none;
    overflow-y: auto;
    overflow-x: auto;
    word-break: break-all;
    white-space: pre;
    line-height: 25px;
}

#JsonEditWindow .setting{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#JsonEditWindow .setting .editMenuBtn{
    position: relative;
    float: left;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #4b4d45;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    transition: all 0.4s;
}

#JsonEditWindow .setting .editMenuBtn:hover{
    background-color: #b8c987;
    color: #272e38;
    box-shadow: 0 0 3px 3px #5f5f5f;
}